.Sidebar {
    width: 30%;
    height: 100%;
    background-color: #dae3f3f5;
    padding: 22px 20px 20px;
}

.Sidebar-filtersContainer {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.Sidebar-title {
    font-size: 24px;
    text-align: left;
    color: #000;
    font-weight: 400;
    margin-bottom: 30px;
}

.Sidebar-selectContainer {
    width: 70%;
}

.Sidebar-selectLabel {
    font-size: 16px;
    color: #000;
    margin-bottom: 8px;
    font-weight: 600;
}

.Sidebar-select {
    margin-bottom: 20px;
    width: 100%;
}

.Sidebar-button {
    position: absolute;
    top: 24px;
    right: 0;
    background-color: #fff;
    color: #7c7c7c;
    border: 1px solid #bbb;
    border-radius: 5%;
    width: 25%;
    cursor: pointer;
    padding: 5px;
    height: 38px;
    &:hover {
        background-color: #ddd;
        height: 38px;
    }
}

.Sidebar-input {
    width: 100%;
    height: 26px;
    font-size: 16px;
    padding: 0;
}
